# Virtual Environment
venv/
.env

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

model/
*.bin
__pycache__/
*.pyc